.movies-search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    input {
        width: 300px;
        height: 35px;
        padding: 5px;
        border-radius: 5px;
        border: none;
        outline: none;
        font-size: 19px;
    }

    &-results {
        ul {
            list-style: none;
            padding-left: 0;

            li {
                color: #fff;
            }
        }
    }
}