<main class="main">
    <div class="header">
        <h1>Angular Components</h1>
        <nav>
            <a routerLink="/star-rating" routerLinkActive="active">Star Rating</a>
            <a routerLink="/drag-and-drop" routerLinkActive="active">Drag and Drop</a>
            <a routerLink="/movies-search" routerLinkActive="active">Movies Search</a>
            <a routerLink="/credit-card-formatter" routerLinkActive="active">Credit Card</a>
        </nav>
    </div>
    <div class="content">
        <router-outlet></router-outlet>
    </div>

    <!-- <h3>Credit card number formatter</h3>
    <app-credit-card-formatter />
    <hr>

    <h3>Star rating</h3>
    <app-star-rating />
    <hr>

    <h3>Drag and drop</h3>
    <app-drag-and-drop />
    <hr>

    <h3>Movies search</h3>
    <app-movies-search />
    <hr> -->
</main>
<router-outlet />
