.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
        margin-left: 15px;
        font-family: 'Neonderthaw';
        font-size: 50px;
        color: #fff;
        text-shadow: purple 2px 2px;
    }

    nav {
        margin-top: 12px;

        a {
            margin-right: 15px;
            font-family: 'Tilt Neon';
            color: #fff;
            text-shadow: purple 2px 2px;
            cursor: pointer;
        }
    }
}